
.nav-item {
  color: white;
  text-decoration: none;  
}
.nav-item:hover {
  color: white;
}
.loadingDiv {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner {
  height: 600px;
  display: flex;
  align-items: center;
}
.banner::before{
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  content: '';
  background: linear-gradient(to right, black, transparent)
}
.banner-info {
  width: 40%;
  margin-left: 50px;
  z-index: 1;
  color: white
}
.banner-info h1 {
  font-weight: bolder;
}
.category {
  color: white;
   font-size : 21px;
   font-weight: bolder;
   margin-top:20px
}
.card {
  width: 249px;
  height: 138px !important;
  background-position: center;
  background-repeat: no-repeat;
}
.card:hover{
  cursor: pointer;
}
.overlay {
  opacity: 0;
  color: white;
  margin: 0;
  padding: 0;
}
.card:hover .overlay{
  opacity: 1;
  background-color: rgb(43, 41, 41, 0.9);
  width: 100%;
  height: 100%;
}
#title {
  font-size: 18px;
  font-weight: bolder;
  margin-bottom: 10px;
}
#genre {
  margin-bottom: 5px;
}
.container {
  display: flex;
  height: 100vh;
  align-items:center;
  text-align: left;
  width: 80%;
  margin: auto;
  flex-wrap: wrap;
}
.searchText {
  font-size : 21px;
  font-weight: bolder;
  color: white;
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: space-evenly;
  color: white;
}
.poster {
  width: 40%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.movieInfo .title {
  font-size: 28px;
}
.divider{
  height: 1px;
  background-color: white;
}
.movieInfo {
  width: 40%;
}
.movieInfo > div{
  margin-bottom: 30px;
}
.detailInfo > span {
  margin-right: 10px;
  font-size: 18px;
}
.overview,.review {
  font-size: 18px;
  font-weight: bolder;
}